<% provide(:title, "Planner") %>
  <nav class="top-nav white">
    <div class="nav-wrapper">
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="orange-text mdi-navigation-menu"></i></a></div>
        <ul class="right hide-on-med-and-down">
          <li>
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="orange-text mdi-action-search"></i></label>
                <i class="mdi-navigation-close"></i>
              </div>
            </form>
        </li>
        <li><a href="mobile.html"><i class="orange-text mdi-navigation-more-vert"></i></a></li>
      </ul>
    </div>
  </nav>
  
     <!-- Grey navigation panel -->
     <ul id="nav-mobile" class="side-nav fixed">
       <li><img src="/planner/img/logo-ristormarktPlanner.png" style="height:60px" /></li>
       <!-- Tabs  -->
       <ul class="tabs">
         <li class="tab"><a  class="active" href="#build"><i class="mdi-image-crop-free orange-text small"></i></a></li>
         <li class="tab"><a href="#equipments"><i class="mdi-maps-local-restaurant orange-text small"></i></a></li>
       </ul>

       <div id="build" class="col s12">
          Layout
       </div>

       <div id="equipments" class="col s12">
         <ul>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Categorie3</a>
                <div class="collapsible-body">
                  <ul>
                    <% @equipments.each do |equipment| %>
                    <li>
                      <a href="#" ondragend="addCollada('<%= equipment.collada_url%>')"> <img src="<%= equipment.image_url%>" id="<%= equipment.code%>" style="height:50px; width:50px" /></a>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
     </ul>
   <div id="three" style="background-color: rgb(240, 240, 240);"></div>
