    /*
    Flaticon icon font: Flaticon
    Creation date: 05/05/2016 20:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-art-1:before { content: "\f100"; }
.flaticon-circle:before { content: "\f101"; }
.flaticon-construction:before { content: "\f102"; }
.flaticon-curve:before { content: "\f103"; }
.flaticon-drawing:before { content: "\f104"; }
.flaticon-drawing-house-plan:before { content: "\f105"; }
.flaticon-geometry:before { content: "\f106"; }
.flaticon-kitchen-furniture:before { content: "\f107"; }
.flaticon-lines:before { content: "\f108"; }
.flaticon-multimedia-1:before { content: "\f109"; }
.flaticon-oven:before { content: "\f10a"; }
.flaticon-pen:before { content: "\f10b"; }
.flaticon-people:before { content: "\f10c"; }
.flaticon-school:before { content: "\f10d"; }
.flaticon-sewing:before { content: "\f10e"; }
.flaticon-shapes:before { content: "\f10f"; }
.flaticon-square:before { content: "\f110"; }
.flaticon-stove:before { content: "\f111"; }
.flaticon-technology:before { content: "\f112"; }
.flaticon-tool:before { content: "\f113"; }
.flaticon-two-seat-sofa:before { content: "\f114"; }
.flaticon-vector:before { content: "\f115"; }
.flaticon-vector-1:before { content: "\f116"; }
.flaticon-vector-2:before { content: "\f117"; }
.flaticon-work:before { content: "\f118"; }
    
    $font-Flaticon-art-1: "\f100";
    $font-Flaticon-circle: "\f101";
    $font-Flaticon-construction: "\f102";
    $font-Flaticon-curve: "\f103";
    $font-Flaticon-drawing: "\f104";
    $font-Flaticon-drawing-house-plan: "\f105";
    $font-Flaticon-geometry: "\f106";
    $font-Flaticon-kitchen-furniture: "\f107";
    $font-Flaticon-lines: "\f108";
    $font-Flaticon-multimedia-1: "\f109";
    $font-Flaticon-oven: "\f10a";
    $font-Flaticon-pen: "\f10b";
    $font-Flaticon-people: "\f10c";
    $font-Flaticon-school: "\f10d";
    $font-Flaticon-sewing: "\f10e";
    $font-Flaticon-shapes: "\f10f";
    $font-Flaticon-square: "\f110";
    $font-Flaticon-stove: "\f111";
    $font-Flaticon-technology: "\f112";
    $font-Flaticon-tool: "\f113";
    $font-Flaticon-two-seat-sofa: "\f114";
    $font-Flaticon-vector: "\f115";
    $font-Flaticon-vector-1: "\f116";
    $font-Flaticon-vector-2: "\f117";
    $font-Flaticon-work: "\f118";