	/*
  	shapes icon font: shapes
  	Creation date: 06/05/2016 18:09
  	*/

@font-face {
  font-family: "shapes";
  src: url("./shapes.eot");
  src: url("./shapes.eot?#iefix") format("embedded-opentype"),
       url("./shapes.woff") format("woff"),
       url("./shapes.ttf") format("truetype"),
       url("./shapes.svg#shapes") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "shapes";
    src: url("./shapes.svg#shapes") format("svg");
  }
}

[class^="shapes-"]:before, [class*=" shapes-"]:before,
[class^="shapes-"]:after, [class*=" shapes-"]:after {   
  font-family: shapes;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.shapes-circle:before { content: "\f100"; }
.shapes-dark-quadrate:before { content: "\f101"; }
.shapes-hexagon:before { content: "\f102"; }
.shapes-hexagon-geometrical-shape-outline:before { content: "\f103"; }
.shapes-octagon-outline-shape:before { content: "\f104"; }
.shapes-perfect-circle:before { content: "\f105"; }
.shapes-rounded-corners-square:before { content: "\f106"; }
.shapes-shape:before { content: "\f107"; }
.shapes-square:before { content: "\f108"; }
.shapes-triangle-shape:before { content: "\f109"; }
.shapes-viewpoint:before { content: "\f10a"; }
